*{
    background-color: rgb(4, 7, 7);
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}


li{
    
    display: inline-block;
    text-shadow: 2px 2px 5px rgb(96, 122, 207);
    margin: 10px 30px ;
    padding: 10px;
    font-size: 25px;
    border: 2px solid cornflowerblue;
    box-shadow: 2px 2px 3px 3px rgb(35, 58, 99);
    width: 130px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
}

.link,a{
    color:whitesmoke;
    text-shadow: 2px 2px 10px cornflowerblue;
    text-decoration: none;
  }
  
  .link:visited,a:visited{
    color:whitesmoke;
  }

h4{
    color: aliceblue;    
}
table th{
    color: white;
    text-shadow: 0px 0px 4px  whitesmoke;
    font-size: 18px;
    
}
table td{
    color: rgb(213, 219, 230);
    font-size: 16px;
}

.car{
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.head{
    color: antiquewhite;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(0, 60, 255) ;
}

.mainhead{
    color: rgb(98, 139, 175);
    
    text-shadow: 6px 5px 10px rgb(32, 60, 122);
    text-align: center;
}
.centre{
  
    text-align: center;
    color: antiquewhite;
}
.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
